<section class="banner">
  <div id="slider">
    <div class="slide" [class.active]="slideIndex === 1">
      <img [src]="getAsset('/bg.jpg')" alt="Slide 1">
      <img title="Move to BSS" class="statment-row-to-bss-btn" [src]="getBssImage()" alt="BSS Image">
    </div>
    <div class="slide" [class.active]="slideIndex === 2">
      <img [src]="getAsset('/bg2.jpg')" alt="Slide 2">
      <img title="Move to BSS" class="statment-row-to-bss-btn" [src]="getBssImage()" alt="BSS Image">
    </div>
    <div class="slide" [class.active]="slideIndex === 3">
      <img [src]="getAsset('/bg3.jpg')" alt="Slide 3">
      <img title="Move to BSS" class="statment-row-to-bss-btn" [src]="getBssImage()" alt="BSS Image">
    </div>
    <div class="slide" [class.active]="slideIndex === 4">
      <img [src]="getAsset('/bg4.jpg')" alt="Slide 4">
      <img title="Move to BSS" class="statment-row-to-bss-btn" [src]="getBssImage()" alt="BSS Image">
    </div>
    <div class="slide" [class.active]="slideIndex === 5">
      <img [src]="getAsset('/bg5.jpg')" alt="Slide 5">
      <img title="Move to BSS" class="statment-row-to-bss-btn" [src]="getBssImage()" alt="BSS Image">
    </div>
    <div class="slide" [class.active]="slideIndex === 6">
      <img [src]="getAsset('/bg6.jpg')" alt="Slide 6">
      <img title="Move to BSS" class="statment-row-to-bss-btn" [src]="getBssImage()" alt="BSS Image">
    </div>
    <div class="slide" [class.active]="slideIndex === 7">
      <img [src]="getAsset('/bg7.jpg')" alt="Slide 7">
      <img title="Move to BSS" class="statment-row-to-bss-btn" [src]="getBssImage()" alt="BSS Image">
    </div>
  </div>
</section>
